@import "variables";
@import "functions";
@import "media";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    //scroll-behavior: smooth;
    //font-family: 'Poppins', sans-serif;
    @include scrollbars(.5em, slategray);
}

.profile-banner {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .profile-banner-top {
        flex: 1;
        position: relative;
        background-color: $darkBAckground;
    }

    .profile-banner-bottom {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background-color: $backgroundSecondary;

        .user-card-wrapper {
            width: 730px;
            height: 430px;
            position: absolute;
            top: 110px;
            align-items: center;
            margin: auto;
            box-shadow: 0 8px 6px -8px $darkBAckground;

            @include _350 {
                width: 200px;
            }

            @include _768 {
                width: 360px;
            }

            .user-card-top {
                height: 30%;
                background-color: $backgroundSecondary;
                border-bottom: 1px solid #B5B8BA;
                display: flex;
                justify-content: center;
                position: relative;
                &:hover .dots-menu {
                    opacity: 1;
                    cursor: pointer;
                    transition: opacity .4s linear;
                }

                &:hover .menu-options {
                    opacity: 1;
                    transition: opacity .4s linear;
                }

                .user-profile-image {
                    width: 170px;
                    height: 170px;
                    position: absolute;
                    top: 25px;

                    @include _350 {
                        width: 100px;
                        height: 100px;
                        top: 70px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        border: 2px solid white;
                        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                    }
                }

                .menu-options {
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    opacity: 0;

                    img {
                        width: 20px;
                        height: 20px;
                        display: flex;
                        flex-direction: column;
                        margin-top: 5px;
                        cursor: pointer;
                    }

                }
            }

            .user-card-bottom {
                height: 70%;
                background-color: #FFFFFF;
                display: flex;

                .user-data {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    justify-content: center;

                    .user-data-credentials {
                        width: 100%;
                        position: absolute;
                        top: 90px;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        text-align: center;

                        @include _350 {
                            top: 60px;
                        }

                        a {
                            font-size: 14px;
                            color: #617D98;

                            @include _350 {
                                font-size: 11px;
                            }
                        }

                        h6 {
                            font-size: 20px;
                            font-weight: 400;

                            @include _350 {
                                font-size: 15px;
                            }
                        }

                        .user-media {
                            width: 40%;
                            padding-top: 30px;
                            display: flex;
                            justify-content: space-around;
                            margin: auto;

                            @include _350 {
                                width: 75%;
                                padding-top: 10px;
                                justify-content: space-around;
                            }

                            @include _768 {
                                width: 60%;
                            }
                        }

                        .follow-button {
                            margin-top: 35px;

                            @include _350 {
                                margin-top: 20px;
                            }

                            button {
                                padding: 10px 20px;
                                text-transform: uppercase;
                                background-color: $darkBAckground;
                                border: none;
                                outline: none;
                                color: white;

                                @include _350 {
                                    font-size: 11px;
                                    padding: 5px 10px;
                                    letter-spacing: 1px;
                                }
                            }
                        }

                        .profile-url {
                            margin-top: 40px;
                        }
                    }
                }
            }
        }
    }
}

//posts
.posts-wrapper {
    max-width: 100%;
    max-height: 160vh;
    padding-bottom: 30px;
    background-color: $backgroundSecondary;
    display: flex;
    justify-content: center;

    .posts-banner {
        max-width: 1400px;
        max-height: 100%;
        padding: 30px 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        overflow-y: auto;
        margin: 0 10px 30px 10px;

        @include _350 {
            padding: 10px 10px;
        }

    }

    .post-wrapper {
        width: 300px;
        height: 350px;
        padding: 10px;
        position: relative;

        @include _350 {
            width: 150px;
            height: 150px;
        }

        @include _768 {
            width: 250px;
            height: 250px;
        }
        img {
            width: 100%;
            height: 100%;
        }

        &:hover .cross_mark {
            opacity: 1;
        }

        .cross_mark {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 8px;
            right: 8px;
            opacity: 0;
            cursor: pointer;
        }
    }
}

//LOGIN FORM
.login_form_page_wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: $darkBAckground;
    //padding-top: 80px;
    //padding: 80px 0 40px 0;
    display: flex;

    .login-form-wrapper {
        width: 360px;
        height: 520px;
        background-color: $backgroundSecondary;
        margin: auto;
        padding: 80px 40px;

            .login-form {
                overflow: hidden;
            }


            h1 {
                text-align: center;
                margin-bottom: 30px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            .txtb {
                border-bottom: 1px solid #adadad;
                position: relative;
                //margin: 30px 0;
                margin-top: 30px;
                background-color: transparent;

                .login-form-span {
                    pointer-events: none;
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -1;
                        height: 100%;
                        width: 100%;
                        border-bottom: 2px solid $mainColor;
                        transform: translateX(-100%);
                        transition: transform .3s ease;
                    }
                }

                input {
                    width: 100%;
                    height: 30px;
                    font-size: 15px;
                    color: #333;
                    border: none;
                    outline: none;
                    background: none;
                    padding: 0 3px;

                    &:focus + .login-form-span:after {
                        transform: translateX(0);
                    }
                }

            }

            button {
                width: 100%;
            }

        .bottom-text {
            padding-top: 30px;
            display: flex;
            align-items: baseline;

            a {
                font-size: 14px;
                color: $darkBAckground;
                font-weight: 400;
            }
        }
    }

    //Registration Form
    .register_form_wrapper {
        padding-top: 40px;
        h1 {
            margin-bottom: 2px;
        }
    }

}

//show single post
.show-post-wrapper {
    width: 100%;
    height: 100vh;
    background-color: $darkBAckground;
    display: flex;
    position: relative;

    .show-post-banner {
        width: 800px;
        height: 480px;
        background-color: white;
        margin: auto;
        display: flex;

        @include _350 {
            width: 200px;
            flex-direction: column;
        }

        @include _768 {
            width: 300px;
            flex-direction: column;
        }

        .show-single-post {
            width: 60%;
            height: 100%;

            @include _350 {
                width: 100%;
                height: 40%;
            }
            @include _768 {
                width: 100%;
                height: 45%;
            }
        }

        .show-post-right {
            width: 40%;
            height: 20%;
            display: flex;
            flex-direction: column;

            .show-post-data {
                border-bottom: 1px solid silver;

                .show-post-cred {
                    display: flex;

                    img {
                        width: 55px;
                        height: 55px;
                        margin: 7px 0 0 10px;

                        @include _350 {
                            width: 45px;
                            height: 45px;
                        }
                    }

                    .show-post-description {
                        display: flex;

                        a {
                            padding: 0 5px 0 7px;
                            margin: auto;
                            font-size: 11px;
                            color: $darkBAckground;
                        }

                        button {
                            padding: 5px 8px;
                            border: none;
                            background-color: $darkBAckground;
                            color: white;
                            font-size: 11px;
                            border-radius: 5px;
                            letter-spacing: .5px;

                            @include _350 {
                                padding: 3px 4px;
                                font-size: 10px;
                            }
                        }
                        .add-post-time {
                            padding: 5px 10px;
                            margin: auto;
                            color: $mutedColor;

                            @include _350 {
                                display: flex;
                                flex-direction: column;
                            }
                        }
                    }
                }

                .post-caption {
                    padding: 10px 5px 0 10px;
                    font-size: 13px;

                    @include _350 {
                        font-size: 12px;
                    }
                }

                @include _350 {
                    width: 200px;
                }
                @include _768 {
                    width: 300px;
                }
            }

            .post-comment-section {
                form {
                    display: flex;

                        input {
                            width: 90%;
                            height: 30px;
                            margin: 10px 5% 10px 3%;
                            padding: 10px 0 0 3px;
                            border: none;
                            border-bottom: 1px solid silver;
                            outline: none;

                            @include _350 {
                                font-size: 11px;
                            }
                        }

                        button {
                            border: none;
                            background-color: transparent;

                            &:focus {
                                outline: none;
                            }

                            img {
                                width: 20px;
                                height: 20px;
                                margin: auto;
                                margin-right: 6px;
                                cursor: pointer;

                                @include _350 {
                                    width: 15px;
                                    height: 15px;
                                }
                            }
                        }
                }
                @include _350 {
                    width: 200px;
                }

                @include _768 {
                    width: 300px;
                }
            }
        }

        .post-comments-display {
            padding: 10px 5px;
            display: flex;
            flex-direction: column;

            .comment-banner {
                height: 300px;
                width: 100%;
                overflow: auto;
                h4 {
                    color: $darkBAckground;
                    margin-bottom: 0;
                    padding-top: 15px;
                }
                span {
                    font-size: 12px;
                    color: $darkBAckground;
                    padding-bottom: 5px;

                    &:focus {
                        outline: none;
                        cursor: text;
                    }

                }

                .posted-time {
                    display: flex;
                    color: $mutedColor;
                }

                .comment-actions {
                    .comment_edit_icon {
                            display: flex;
                            align-items: baseline;

                            i {
                                font-size: 14px;
                                color: $mainColor;
                                margin: 0 5px 0 70%;
                                cursor: pointer;
                                display: none;
                            }

                        span {
                            font-size: 14px;
                            color: red;
                            cursor: pointer;
                            padding-bottom: 0;
                            display: none;
                        }

                    }

                    &:hover i,
                    &:hover span {
                        display: initial;
                    }

                    .comment_body {
                        cursor: text;

                        span {
                            min-height: 1em;
                            min-width: 100%;
                            display: inline-block;
                        }
                    }
                }

            }
            @include _350 {
                width: 200px;
                height: 150px;
            }

                @include _768 {
                width: 300px;
                height: 120px;
            }
        }
    }

    //arrow back
    .arrow-back {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 70px;
        left: 60px;
        filter: drop-shadow(0 0 0.1rem $mainColor);

        @include _350 {
            display: none;
        }
        @include _768 {
            display: none;
        }
    }

    }

//edit profile
.edit_form_page_wrapper {
    width: 100%;
    height: 100vh;
    background-color: $darkBAckground;
    display: flex;
}


//profile edit blade start
.profile-edit-card {
    width: 800px;
    height: 500px;
    background-color: $backgroundSecondary;
    margin: auto;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);

    .profile-edit-card-top {

        .breadcrumbs {
            padding: 20px 0 30px 80px;

            .breadcrumbs_item {
                display: inline-block;

                &:after {
                    content: '\203a';
                    margin: 0 5px;
                    color: $darkBAckground;
                    font-size: 18px;
                    padding-top: 0;
                }

                &:last-child:after {
                    content: none;
                }

                .breadcrumbs-link {
                    color: #999999;
                    font-size: 14px;

                    @include _350 {
                        font-size: 12px;
                    }
                }

                .breadcrumbs_link_acive {
                    color: $mainColor;
                    font-weight: 500;
                }
            }
        @include _350 {
            padding: 10px 0 10px 20px;
        }

        }
    }

.profile-edit-form {
    width: 100%;
    height: 80%;
    padding: 15px 80px;

    .profile-editcard-bottom {
        display: flex;
        flex-direction: column;
        label {
            font-size: 14px;
            color: #495057;
            margin-bottom: 5px;
            font-weight: 500;

            @include _350 {
                font-size: 12px;
                font-weight: 400;
                margin-bottom: 2px;
            }
        }
        input {
            height: 30px;
            color: #708090;
            margin-bottom: 15px;
            padding: 5px 5px 0 5px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid silver;

            &:focus {
                color: $darkBAckground;
                outline: none;
                transition: .8s border-bottom-color;
                border-bottom: 1px solid $mainColor;
            }

            @include not-last-child('input') {
                border-bottom: none!important;
            }

            @include _350 {
                font-size: 12px;
            }

        }
    }

    .editBtn {
        width: 100%;
        text-align: center;
        button {
            width: 60%;

            @include _350 {
                width: 100%;
            }

            @include _768 {
                width: 100%;
            }
        }
    }
    @include _350 {
        padding: 15px 20px;
    }
}

    @include _350 {
        width: 250px;
        height: 420px;
    }
    @include _768 {
        width: 500px;
    }
}

//post edit
.edit-post {
    width: 700px;
    height: 400px;

    @include _350 {
        width: 250px;
    }

    @include _768 {
        width: 400px;
    }
}
//profile edit blade end


//POSTS INDEX (SHOW FOLLOWINNGS' POSTS)
.following-posts-banner {
    width: 100%;
    min-height: 100vh;
    background-color: $darkBAckground;

    .following-cred {
        max-width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 100px 100px 50px 150px;

        .followings-posts-wrapper {
            .following-post {
                width: 400px;
                height: 400px;
                margin-right: 250px;
                display: flex;
                flex-direction: column;

                img {
                    width: 100%;
                    height: 100%;
                }

                h2 {
                    color: $backgroundSecondary;
                    font-weight: 300;
                    font-size: 14px;
                    margin-bottom: 10px;
                }

                @include _350 {
                    width: 100%;
                }

                @include _768 {
                    width: 100%;
                }
            }

        }

        .users-list {
            width: 400px;
            max-height: 500px;
            background-color: $backgroundSecondary;
            display: flex;
            flex-direction: column;
            overflow: auto;
            box-shadow: 1px 2px 6px 5px rgba(208,209,214,0);


            h1 {
                font-size: 18px;
                font-weight: 400;
                text-align: center;
                padding: 15px 0 20px 0;
                border-bottom: 1px solid silver;
                margin: 0 30px 0 30px;
            }

            .followings_data {
                display: flex;

                a {
                    font-size: 12px;
                    font-weight: 400;
                    padding: 25px 0 0 10px;
                }

                img {
                    width: 70px;
                    height: 70px;
                    padding: 10px 10px;
                    border-radius: 50%;
                }

            }

        }

        @include _350 {
            width: 100%;
            padding: 70px 20px 0 20px;
        }

        @include _768 {
            width: 100%;
            padding: 70px 20px 0 20px;
        }

    }
}

//reset password blades
.send-password-reset-wrapper {
    max-width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    background-color: $darkBAckground;

    .send-password-reset-banner {
        width: 500px;
        height: 250px;
        background-color: $backgroundSecondary;
        margin: auto;
        padding: 30px 50px 20px 50px;

        form {
            display: flex;
            flex-direction: column;

            label {
                font-size: 14px;
                color: $darkBAckground;

                @include _350 {
                    margin-bottom: 10px;
                }

                @include _768 {
                    margin-bottom: 10px;
                }
            }

            input {
                margin-top: 10px;
                padding: 10px 5px 5px 5px;

                &:focus {
                    outline: none;
                }
            }

            button {
                font-size: 12px;
                width: 100%;

                @include _350 {
                    font-size: 11px;
                    letter-spacing: 0;
                }
            }
        }

        @include _350 {
            width: 260px;
            padding: 30px 25px 10px 25px;
        }

        @include _768 {
            width: 400px;
        }
    }

}
